---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Header } from "../components/Header";
import { Footer } from "../components/Footer";
import { ProfileSection } from "../components/ProfileSection";
import { AboutSection } from "../components/AboutSection";
import { CareerSection } from "../components/CareerSection";
import { ArticlesSection } from "../components/ArticlesSection";
import { getImage } from "astro:assets";
import profileImageSrc from "../assets/github-icon.png";

const optimizedProfileImage = await getImage({
  src: profileImageSrc,
  width: 288,
  height: 288,
  format: "webp",
});

const siteUrl = Astro.site?.toString().replace(/\/$/, "") || "https://ayumu3746221.dev";

const personJsonLd = {
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Ayumu Kukutsu",
  "jobTitle": "Software Engineer",
  "url": siteUrl,
};

const safeJsonLd = JSON.stringify(personJsonLd).replace(/</g, "\\u003c");
---

<BaseLayout>
  <Fragment slot="head">
    <script type="application/ld+json" set:html={safeJsonLd} />
  </Fragment>
  <div class="min-h-screen bg-white text-gray-900 text-lg">
    <Header client:load />
    <main id="main-content" class="max-w-3xl mx-auto px-6 py-20">
      <ProfileSection profileImage={optimizedProfileImage.src} />
      <AboutSection />
      <CareerSection />
      <ArticlesSection />
    </main>
    <Footer />
  </div>
</BaseLayout>
